* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #16c203, #04a124, #04a05f);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}